<div [@routerTransition]>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        <div>
          <img src="https://scontent.fsap1-1.fna.fbcdn.net/v/t1.6435-9/44965632_1436359219800297_5283352219859550208_n.png?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG08OgoMa1AbxwBZBH_weJ9ez3LeNICIZx7Pct40gIhnCL5cVb9b3fTP-VbfiXk91rv0TmAkSPLFq7-KaWtotst&_nc_ohc=shccio2NLisAX8d8CA8&_nc_ht=scontent.fsap1-1.fna&oh=00_AT8t31l0O_XN0GZFEzHC4EeYt9cMsIKPxSviWc6Rb2MdpA&oe=621E1D86" alt="..." class="img-thumbnail">
        </div>
        <div>
          <img src="https://scontent.fsap1-1.fna.fbcdn.net/v/t1.6435-9/44965632_1436359219800297_5283352219859550208_n.png?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG08OgoMa1AbxwBZBH_weJ9ez3LeNICIZx7Pct40gIhnCL5cVb9b3fTP-VbfiXk91rv0TmAkSPLFq7-KaWtotst&_nc_ohc=shccio2NLisAX8d8CA8&_nc_ht=scontent.fsap1-1.fna&oh=00_AT8t31l0O_XN0GZFEzHC4EeYt9cMsIKPxSviWc6Rb2MdpA&oe=621E1D86" alt="..." class="img-thumbnail">
        </div>
        </div>
        <div class="col-sm-8">
          <h1>International Systems Group</h1>
          <h5>RTN: 21323241421412</h5>
          <h5>Dirección1: Barrio/colonia, sector, ciudad, Departamento, País</h5>
          <h5>Dirección2: Barrio/colonia, sector, ciudad, Departamento, País</h5>
          <div class="row">
            <div class="col-sm-6">
              <h5>Correo: grsintsys.info@gmail.com</h5>
            </div>
            <div class="col-sm-6">
              <h5>Telefono: +504 25511234</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
